@font-face {
  font-family: "Lato";
  src: url("./assets/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: rgb(235, 235, 235);
  font-family: "Lato";
}

body {
  margin: 0;
}

header {
  font-size: 20px;
  padding: 14px;
  text-align: center;
  font-weight: 600;
  background-color: #457b9d;
  box-shadow: 0 0 11px #0000001a;
  color: rgb(238, 238, 238);
}

#app {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

#menu {
  height: fit-content;
  min-width: 200px;
  width: 25%;
  max-width: 280px;
  font-size: 22px;
}

.menuitem {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px 8px 15px;
  margin-bottom: 10px;
  background-color: #efefef;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #0000001c;
  cursor: default;
}

.menuheader {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
  color: #1d3557;
}

#app-wrap {
  margin-left: 20px;
  width: auto;
  flex-grow: 1;
}

.todo-wrapper {
  display: flex;
  padding: 0px 25px !important;
  border-radius: 5px;
  width: auto;
  margin-bottom: 10px;
  box-shadow: 3px 3px 5px #0000001c;
  justify-content: space-between;
  align-items: stretch;
}

.todo-wrapper h2 {
  color: #1d3557;
  text-transform: capitalize;
}

.due-date {
  background-color: #efefef;
  width: fit-content;
  padding: 5px 9px;
  border-radius: 10px;
}

.completed-wrap {
  background-color: rgb(253 132 132);
  padding: 5px 15px;
  color: #f3f3f3;
  font-size: 15px;
  font-weight: 600;
  border-radius: 15px;
}

.is-green {
  background-color: rgb(0, 177, 9);
}

.btn {
  border: none;
  background-color: #518ee4;
  padding: 10px;
  color: white;
  font-weight: 600;
  width: fit-content;
}

.btn:hover {
  background-color: #71a4eb;
}

.mb-10 {
  margin-bottom: 10px;
}

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.modal {
  width: 100%;
  height: 100%;
  background: #d2d2d285;
  position: absolute;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.box {
  background: #ffffff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #0000001c;
}

.add-modal {
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

.add-modal form {
  display: flex;
  flex-direction: column;
}

.add-modal h2 {
  margin-top: 0px;
  font-size: 30px;
  text-align: center;
}

.button-row > button {
  margin-left: 10px;
}

.red-btn {
  background-color: #e63946;
}

.red-btn:hover {
  background-color: #eb606c;
}

.icon {
  height: 20px;
  width: auto;
  color: white;
}

.icon-wrapper {
  display: flex;
  font-size: 10px;
  border-radius: 5px;
  padding: 6px;
}

.icon-wrapper svg {
  width: 20px;
  fill: white;
}

.add-modal form label {
  margin-bottom: 4px;
}
.add-modal form input,
select {
  margin-bottom: 10px;
  font-size: 22px;
}

#form-notification {
  color: red;
  margin: 10px 0px;
}

.todo-headline-wrapper {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  align-items: center;
}

.priority {
  border-radius: 11px;
  height: fit-content;
  margin-left: 15px;
  background-color: #ffbc57;
  padding: 4px 13px;
  color: white;
  font-size: 14px;
}

#taskmenu {
  display: flex;
  justify-content: flex-end;
}

#addtodo {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  font-size: 45px;
  line-height: 0;
  background-color: #28ad5d;
}
